html {
    font-family: 'Press Start 2P', cursive;
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0;
    background-image: url(assets/My\ project-4.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    height: 100px;
    display: flex;
    justify-content: space-between;
}

header img {
    width: 277px;
    height: auto;
    padding: 15px;
    object-fit: contain;
}

header nav {
    display: flex;
    padding: 15px;
}

header nav h3 a {
    color: #F2B807;
    font-family: 'Raleway';
    font-weight: 200;
    font-size: 18px;
    text-decoration: none;
    padding: 20px;
}

main {
    height: 100vh;
}

.welcome {
    color: #F2B807;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.welcome h1{
    font-family:'Press Start 2P';
    font-size: 50px;
    margin-bottom: 15px;
}

.welcome p {
    font-size: 18px;
    margin-bottom: 40px;
}

.welcome-box {
    margin: 20vh auto;
}

.options-welcome {
    display: flex;
    justify-content: center;
}

.options-welcome button {
    width: 150px;
    height: 51px;
    color: white;
    font-size: 16px;
    font-weight: 100;
    font-family: 'Raleway';
    border: 5px solid #F2B807;
    border-radius: 20px;
    background-color:#0E1F40;
}

.options-welcome button:hover {
    cursor: pointer;
}

#allpokemon {
    height: 100vh;
}

#allpokemon h2 {
    padding: 30px;
    color: white;
    font-family: 'Press Start 2P';
    text-shadow: 1px 1px 1px black;
}

.process-data {
    display: flex;
    flex-flow: row wrap;
    background-color: white;
    padding-top: 30px;
}

.filter {
    flex: 1;
    width: 244px;
    height: 100vh;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.filter label {
    margin-bottom: 10px;
}

#select-types, #select-weakness {
    margin-bottom: 30px;
    width: 100px;
    padding: 3px;
    border-radius: 10px;
}

.sort {
    flex: 3;
    height: 40px;
}

.sort label {
    margin-left: 60px;
}

#sort-by-name {
    width: 100px;
    border-radius: 10px;
    padding: 3px;
}

#container-pokemon {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 30px;
}

.box {
    flex: 1;
    flex-basis: 25%;
    max-width: 300px;
    height: 200px;
    margin: 5px;
    border-radius: 20px;
    display: grid;
}

.images {
    margin-left: 10vw;
    width: 100px;
}

.box:hover {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    animation-name: box;
    animation-duration: 1s;
    animation-timing-function: ease;
}

@keyframes box {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-5px); }
    100% { transform: translateY(0); }
}

/* Cards style */

.bug {
    background-image: url(assets/bug.png);
}

.dark {
    background-image: url(assets/dark.png);
}

.dragon {
    background-image: url(assets/dragon.png);
}

.electric {
    background-image: url(assets/electric.png);
}

.fairy {
    background-image: url(assets/fairy.png);
}

.fighting {
    background-image: url(assets/fighting.png);
}

.fire {
    background-image: url(assets/fire.png);
}

.flying {
    background-image: url(assets/flying.png);
}

.ghost {
    background-image: url(assets/ghost.png);
}

.grass {
    background-image: url(assets/grass.png);
}

.ground {
    background-image: url(assets/ground.png);
}

.ice {
    background-image: url(assets/ice.png);
}

.normal {
    background-image: url(assets/normal.png);
}

.poison {
    background-image: url(assets/poison.png);
}

.psychic {
    background-image: url(assets/psychic.png);
}

.rock {
    background-image: url(assets/rock.png);
}

.steel {
    background-image: url(assets/steel.png);
}

.water {
    background-image: url(assets/water.png);
}

.bug,
.dark,
.dragon,
.electric,
.fairy,
.fighting,
.fire,
.flying,
.ghost,
.grass,
.ground,
.ice,
.normal,
.poison,
.psychic,
.rock,
.steel,
.water,
.modal-content {
    background-size: cover;
}

.name-style,
.type-style {
    color:white;
    padding: 10px;
    text-align: start;
    text-shadow: 1px 1px 2px #0E1F40;
}

.name-style {
    margin: 3px;
    font-size: 14px;
    font-family: 'Press Start 2P';
}

.type-style {
    font-family: 'Raleway';
    margin: 0px 0px 15px 10px;
}

.search {
    flex: 1;
    height: 100vh;
}

.search div {
    display: flex;
    border: 1px solid black;
    border-radius: 20px;
    width:200px;
    padding: 5px;
}

.search div input {
    border-style: none;
    width: 175px;
}

.scroll-up {
    position: fixed;
    z-index: 999;
    bottom: 4vh;
    right: 4vw;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 3rem;
    background-color: #F2B807;
    border: none;
    color: #0E1F40;
    cursor: pointer;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

#spawn-message {
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(2px);
}

#modal-content {
    color: white;
    text-shadow: 1px 1px 2px #0E1F40;
    margin: auto;
    padding: 0 20px;
    width: 25vw;
    height: 65vh;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: row;
  }

  .modal-text {
    align-self: flex-start;
  }

  .modal-text h3 {
    font-size: 20px;
    font-family: 'Press Start 2P';
  }

  #modal-image {
    align-self: flex-end;
    align-items: center;
    width: 180px;
    padding-bottom: 10px;
  }

  .close {
    color: white;
    font-size: 35px;
    font-weight: bold;
    align-self: flex-start;
    align-items: end;
  }
 
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  #display-filter {
    display: none;
}

@media screen and (max-width: 1200px) and (min-width:874px){
    .modal {
        z-index: 999;
    }

    #modal-content {
        width: 40vw;
        height: 60vh;
        padding: 2%;
        font-size: 18px;
        justify-content: space-around;
    }

    #modal-content h3 {
        font-size: 14px;
    }

    #modal-content img {
        width: 130px;
    }
}


@media screen and (max-width: 873px) {

    body {
        background-position-y: 15%;
        background-position-x: 25%;
    }
 
    header {
        display: flex;
        justify-content: center;
        height: 80px;
        padding-top: 20px;
    }

    header img {
        width: 200px;
        height: auto;
        padding: 5px;
    }

    header nav {
        display: none;
    }

    .welcome {
        color: #F2B807;
        height: 100vh;
        display: flex;
        justify-content: center;
    }

    .welcome h1{
        font-size: 35px;
    }

    .welcome p {
        font-size: 16px;
    }

    .welcome-box {
        margin: 15vh auto;
    }

    .options-welcome button {
        width: 162px;
        height: 51px;
        font-size: 14px;
    }

    #allpokemon h2 {
        height: 30px;
        font-size: 24px;
        text-align: center;
        color:#F2B807;
        text-shadow:2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        padding: 40px 40px 0 40px;
    }

    .process-data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .search {
        order: 1;
    }

    .filter {
        order: 2;
        z-index: 999;
        display: none;
        position: absolute;
        top: 135vh;
        height: 40%;
        width: 85%;
        max-width: 100vw;
        margin: 0px;
        background-color:#0E1F40;
        border-radius: 20px;
        opacity: 0.9;
        color:#F2B807;
        text-align: center;
    }

    .filter label {
        line-height: 50px;
    }

    #display-filter {
        order: 2;
        z-index: 999;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 88vw;
        height: 35px;
        margin: 10px 0 15px 0;
        padding-top: 2px;
        color: black;
        font-size: 18px;
        font-family: 'Raleway';
        border: 1px solid black;
        border-radius: 20px;
        background-color: transparent;
    }

    #select-types, #select-weakness {
        display: flex;
        margin: 0 auto;
    }

    .sort {
        order: 2;
    }

    .sort label {
        margin-left: 38vw;
    }

    .types {
        margin-bottom: 0px;
    }

    .search div {
        width: 86vw;
        display: flex;
        justify-content: space-between;
    }

    .search div input {
        width: 80vw;
        text-align: center;
    }

    #container-pokemon {
        flex-direction: row;
        margin: 0 auto;
    }

    .images {
        margin-left: 150px;
    }

    #spawn-message {
        font-size: 18px;
        padding-top: 10px;
    }
   
    .modal {
        z-index: 999;
    }

    #modal-content {
        width: 50vw;
        height: 60vh;
        padding: 2%;
        font-size: 18px;
        justify-content: space-around;
    }

    #modal-content h3 {
        font-size: 14px;
    }

    #modal-content img {
        width: 130px;
    }
}

@media screen and (max-width: 429px) and (min-width:360px){

    body {
        background-position-y: 15%;
        background-position-x: 25%;
    }
 
    header {
        display: flex;
        justify-content: center;
        height: 80px;
        padding-top: 20px;
    }

    header img {
        width: 200px;
        height: auto;
        padding: 5px;
    }

    header nav {
        display: none;
    }

    .welcome {
        display: flex;
        justify-content: center;
        text-align: center;
        color: #F2B807;
        height: 100vh;
    }

    .welcome h1{
        font-size: 25px;
    }

    .welcome p {
        font-size: 14px;
    }

    .welcome-box {
        margin: 15vh auto;
    }

    .options-welcome button {
        width: 162px;
        height: 51px;
        font-size: 14px;
    }

    #allpokemon h2 {
        height: 30px;
        font-size: 18px;
        text-align: center;
        color:#F2B807;
        text-shadow:2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        padding: 40px 40px 0 40px;
    }

    .process-data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .search {
        order: 1;
    }

    #search {
        border: 1px solid black;
        border-radius: 20px;
        width: 100vw;
        height: 35px;
    }

    .search div {
        border: none;
    }

    .material-symbols-outlined {
        visibility: hidden;
        width: 0px;
        height: 0px;
    }

    .filter {
        order: 2;
        z-index: 999;
        display: none;
        position: absolute;
        top: 148vh;
        height: 40%;
        width: 85%;
        max-width: 100vw;
        margin: 0px;
        background-color:#0E1F40;
        border-radius: 20px;
        opacity: 0.9;
        color:#F2B807;
        text-align: center;
    }

    .filter label {
        line-height: 50px;
    }

    .sort {
        order: 3;
    }

    .sort label {
        margin-left: 10vw;
    }

    #display-filter {
        order: 2;
        z-index: 999;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 86vw;
        height: 35px;
        margin-top: 10px;
        margin-bottom: 15px;
        padding-top: 2px;
        color: black;
        font-size: 18px;
        font-family: 'Raleway';
        border: 1px solid black;
        border-radius: 20px;
        background-color: transparent;
    }

    #select-types, #select-weakness {
        display: flex;
        margin: 0 auto;
    }

    .types {
        margin-bottom: 0px;
    }

    .search div {
        width: 85vw;
        display: flex;
        justify-content: space-between;
    }

    .search div input {
        width: 60vw;
    }

    #container-pokemon {
        flex-direction: column;
        margin: 0 auto;
    }

    .images {
        margin-left: 150px;
    }

    #spawn-message {
        font-size: 14px;
        padding-top: 10px;
    }
   
    .modal {
        z-index: 999;
    }

    #modal-content {
        width: 65vw;
        height: 50vh;
        font-size: 14px;
    }

    #modal-content h3 {
        font-size: 14px;
    }

    #modal-content img {
        width: 90px;
    }

    .scroll-up {
        width: 14vw;
        height: 8vh;
        font-size: 2rem;
    }
}